.bs-example
  ul.nav.nav-pills(role='tablist')
    li.dropdown(role='presentation')
      a#drop1.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
        | {{ selectedType || 'Types' }}
        span.caret
      ul#menu1.dropdown-menu(aria-labelledby='drop1')
        li(*ngFor="let type of types", [ngClass]="{'active': type === selectedType}", (click)="changeType(type)")
          a() {{ type }}
    li.dropdown(role='presentation')
      a#drop2.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true')
        | {{ selectedMadeIn || 'Made in' }}
        span.caret
      ul#menu2.dropdown-menu(aria-labelledby='drop2')
        li(*ngFor="let country of madeIn", [ngClass]="{'active': country === selectedMadeIn}", (click)="changeMadeIn(country)")
          a() {{ country }}
    li
      button.btn.btn-default((click)="search()") Search
