.table-responsive.col-md-8
  .input-group
    input(type="text", class="form-control", placeholder="Search for...", [(ngModel)]="keyword")
    span.input-group-btn
      button.btn.btn-default(type="button") Go!
  table.table.table-striped
    thead
      tr
        th User name
        th Address
        th Age
        th Email
        th Edit
        th Delete
    tbody
      tr(*ngFor="let user of users | userFilter: keyword | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.currentPage}")
        td {{user.username}}
        td {{user.address}}
        td {{user.age}}
        td {{user.email}}
        td
          a([routerLink]="['/users', user.id]") Edit
        td Delete

  pagination-controls((pageChange)="pagination.currentPage = $event")

.col-md-12
  a([routerLink]="['/users/new']") Add User
