div
  form.col-md-4([formGroup]="addUserForm", (ngSubmit)="onSubmit(addUserForm.value)")
    div.form-group
      label(for="userName") Username
      input#userName.form-control(type="text", [formControl]="addUserForm.controls['username']")
      div(*ngIf="submitted && (addUserForm.controls['username'].errors | firstKey) === 'required'", class="alert alert-danger")
        | Name is required
      div(*ngIf="submitted && (addUserForm.controls['username'].errors | firstKey) === 'minlength'", class="alert alert-danger")
        | Name is invalid
      div(*ngIf="submitted && (addUserForm.controls['username'].errors | firstKey) === 'pattern'", class="alert alert-danger")
        | Name is only character

    div.form-group
      label(for="userAddress") Address
      input#userAddress.form-control(type="text", [formControl]="addUserForm.controls['address']")

    div.form-group
      label(for="userAge") Age
      input#userAge.form-control(type="text", [formControl]="addUserForm.controls['age']")
      div(*ngIf="submitted && addUserForm.controls['age'].hasError('invalidAge')", class="alert alert-danger")
        | Age is invalid

    div.form-group
      label(for="userEmail") Email
      input#userEmail.form-control(type="text", [formControl]="addUserForm.controls['email']")
      div(*ngIf="submitted && (addUserForm.controls['email'].errors | firstKey) === 'required'", class="alert alert-danger")
        | Email is required
      div(*ngIf="submitted && (addUserForm.controls['email'].errors | firstKey) === 'invalidEmail'", class="alert alert-danger")
        | Email is invalid

    button.btn.btn-default(type="submit") Add user
    button.btn.btn-default(type="button") Cancel
indicator(*ngIf="isLoading")
