div
  form.col-md-4([formGroup]="addUserForm", (ngSubmit)="onSubmit(addUserForm.value)")
    //- div.form-group
    //-   label(for="userId") Id
    //-   input#userId.form-control()
    div.form-group
      label(for="userName") Username
      input#userName.form-control(type="text", [formControl]="username")
      div(*ngIf="username.hasError('required')", class="alert alert-danger")
        | Name is invalid
    //- div.form-group
    //-   label(for="userAddress") Address
    //-   input#userAddress.form-control()
    //- div.form-group
    //-   label(for="userAge") Age
    //-   input#userAge.form-control()
    //- div.form-group
    //-   label(for="userEmail") Email
    //-   input#userEmail.form-control()
    div(*ngIf="!addUserForm.valid", class="alert alert-danger")
      | Form is invalid
    button.btn.btn-default(type="submit") Add user
    button.btn.btn-default(type="button") Cancel
    a((click)="test()") Test
