.comment-detail
  p.comment-user Minh Nguyen
  p.comment-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ab obcaecati quas voluptatibus maxime doloribus ullam aliquam aut eaque sapiente.
