.row.products
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/apple_cinema_30-175x175.jpg" alt="shoes")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/hp_1-175x175.jpg" alt="jacket")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/htc_touch_hd_1-175x175.jpg" alt="watch")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/apple_cinema_30-175x175.jpg" alt="shoes")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/hp_1-175x175.jpg" alt="jacket")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart
  .col.xs-6.col-sm-4.col-md-3.col-lg-2
    .product
      a.product__image(href="javascript:void(0);")
        img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/htc_touch_hd_1-175x175.jpg" alt="watch")
      a.product__name(href="javascript:void(0);") Shoes 2016-zx
      .product__price $114.00
      a.add-to-cart(href="javascript: void(0);") Add to Cart

.product-detail
  h2.product-detail__name
    | Shoes 2016
  .row
    .col-md-6.product-detail__box.product-detail__image
      img(src="http://demo.harnishdesign.net/opencart/bigshop/v2/image/cache/catalog/demo/apple_cinema_30-350x350.jpg", alt="shoes alt")
    .col-md-6.product-detail__box
      .product-detail__info
        p
          | Type:
          span Shoes
      .product-detail__info
        p
          | Branch:
          span Converse
      .product-detail__info
        p
          | Product Code:
          span Ad-01
      .product-detail__price
        | $144.00
      .product-detail__option
        .product-detail__size
          | Available size: 40, 41
