.new-comment
  p Write a review
  form
    .form-group
      label Your name
      input.form-control(type="text", placeholder="Your name")
    .form-group
      label Your review
      textarea.form-control(type="text", placeholder="Your review")
    button.btn.btn-default(type="submit") Continue
