/* Global extend definitions */

/* Class extend colors */

// /* Class extend font-family */
// %primary-font-regular {
//   font-family: $primary-font-regular;
// }

// %primary-font-semibold {
//   font-family: $primary-font-semibold;
// }

/* Class extend for text style */
%text-no-transform {
  text-transform: none;
}

%text-uppercase {
  text-transform: uppercase;
}

%text-capitalize {
  text-transform: capitalize;
}

%text-center {
  text-align: center;
}

%text-left {
  text-align: left;
}

%text-right {
  text-align: right;
}

%no-text-decoration {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

%no-list-style {
  list-style: none;
}

%text-underline {
  text-decoration: underline;
}

%no-text-shadow {
  text-shadow: none;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%no-pointer-events {
  pointer-events: none;
}

/* Class extend for vertical align */
%vertical-middle {
  vertical-align: middle;
}

%vertical-bottom {
  vertical-align: bottom;
}

%vertical-top {
  vertical-align: top;
}

/* Class extend for position */
%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%fixed {
  position: fixed;
}

%left-0 {
  left: 0;
}

%right-0 {
  right: 0;
}

%top-0 {
  top: 0;
}

%bottom-0 {
  bottom: 0;
}

%left-top-0 {
  left: 0;
  top: 0;
}

/* Class extend for display */
%inline-block {
  display: inline-block;
}

%inline {
  display: inline;
}

%table {
  display: table;
}

%table-row {
  display: table-row;
}

%table-cell {
  display: table-cell;
}

%hide {
  display: none;
}

%block {
  display: block;
}

%overflow-hidden {
  overflow: hidden;
}

%clear-both {
  clear: both;
}

/* Class extend for margin/padding */
%no-margin {
  margin: 0;
}

%margin-auto {
  margin: 0 auto;
}

%no-margin-bottom {
  margin-bottom: 0;
}

%no-margin-top {
  margin-top: 0;
}

%no-margin-right {
  margin-right: 0;
}

%no-margin-left {
  margin-left: 0;
}

%no-padding {
  padding: 0;
}

%no-padding-left {
  padding-left: 0;
}

%no-padding-right {
  padding-right: 0;
}

%no-padding-top {
  padding-top: 0;
}

%no-padding-bottom {
  padding-bottom: 0;
}

/* Class extend for border */
%border-collapse {
  border-collapse: separate;
}

%no-border {
  border: 0;
}

%no-border-bottom{
  border-bottom: 0;
}

%no-border-top {
  border-top: 0;
}

%no-border-left {
  border-left: 0;
}

%no-border-right {
  border-right: 0;
}

%no-border-radius {
  border-radius: 0;
}

%transition-ease-in-out-all {
  transition: all .3s ease-in-out;
}
