//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------

/* Font family */

/* Font size */
$base-font-size: 16;

/* Main color */
$main-red: #f05450;
$white: #fff;
$black: #000;

/* Base colors */
$gray-20: #333;
$sgidarkgray: #555;
$gray-80: #ccc;
$very-light-gray: #ddd;
$gray-90: #e5e5e5;
$moderate-cyan: #41b7d8;
$light-grayish-yellow: #fcf8e3;
$strong-blue: #037ad1;
