.col-xs-6.col-sm-3.placeholder
  img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='200x200', src='public/images/user.png', data-holder-rendered='true')
  h4 Administrator
  span.text-muted Minh Nguyen

a([routerLink]="['/update']") Update profile
