.col-md-4.col-xs-6.col-sm-3.placeholder
  img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='200x200', src='public/images/user.png', data-holder-rendered='true')
  h4 Administrator
  span.text-muted {{profile?.username}}

a(href="javascript:void(0);", (click)="updateProfile()", *ngIf="!isShowUpdate") Update profile
.col-md-8.col-xs-6.col-sm-3(*ngIf="isShowUpdate")
  update-profile([profile]="profile")
