.main-header.header-row
  .container
    .navbar.navbar-default.navbar-static
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bigshop-navbar-collapse", aria-expanded="true")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand([routerLink]="['/home']") Shopping

        #bigshop-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(routerLinkActive="active")
              a([routerLink]="['/home']")
                | Home
                span.sr-only (current)
            li.dropdown(routerLinkActive="active")
              a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Categories
                span.caret
              ul.dropdown-menu
                li
                  a([routerLink]="['/products']") Products
                li.divider(role='separator')
                li
                  a([routerLink]="['/products']", [queryParams]="{type: 'Shoes'}") Shoes
                li
                  a([routerLink]="['/products']", [queryParams]="{type: 'Jacket'}") Jackets
                li
                  a([routerLink]="['/products']", [queryParams]="{type: 'Watches'}") Watches
            li
              a(href="#")
                | Contact us

          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
