.section-header {
  transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;

  span {
    color: #333;
    display: inline-block;
    margin-bottom: -1px;
    border-bottom: 2px solid #ccc;
  }
}

.read-more {
  overflow: hidden;
  margin: 15px 0;
  text-align: center;

  a {
    font-size: 20px;
    color: #555;
    display: inline-block;
    border: 1px solid #41b7d8;
    padding: 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: #41b7d8;
      color: white;
      transition: all .3s ease-in-out;
    }
  }
}

.products {
  .product {
    width: 100%;
    padding: 5px 0;
    text-align: center;

    &__image,
    &__name,
    &__price {
      margin-bottom: 10px;
    }

    &__image {
      display: block;
      transition: all .3s ease-in-out;

      &:hover,
      &:focus,
      &:active {
        opacity: .8;
        transition: all .3s ease-in-out;
      }
    }

    &__name {
      font-size: 18px;
    }

    &__price {
      font-size: 22px;
      font-weight: 700;
      color: #037ad1;
    }
  }
}

.product-detail {

  &__box {
    margin: 0 auto;
  }

  &__wrapper {
    width: 350px;
  }

  &__name {
    font-size: 35px;
    margin: 10px 0 15px;
  }

  &__image {
    text-align: center;
    margin: 10px 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    p {
      font-weight: 700;

      span {
        font-weight: 400;
        margin-left: 10px;
        color: blue;
      }
    }
  }
}

.categories {
  .category {
    a {
      display: block;
      text-align: center;
      margin: 15px 0;

      img {
        width: 100%;
        height: auto;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus,
        &:active {
          opacity: .8;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .categories {
    .category {
      a {
        width: 480px;
        margin: 15px auto;
      }
    }
  }
}

@media only screen and (min-width: 990px) {
  .categories {
    .category {
      a {
        width: 100%;
      }
    }
  }
}
