.read-more {
  overflow: hidden;
  margin: 15px 0;
  text-align: center;

  a {
    font-size: 20px;
    color: $sgidarkgray;
    display: inline-block;
    border: 1px solid $moderate-cyan;
    padding: 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: $moderate-cyan;
      color: white;
      transition: all .3s ease-in-out;
    }
  }
}
