.categories {
  .category {
    a {
      display: block;
      text-align: center;
      margin: 15px 0;

      img {
        width: 100%;
        height: auto;
        @extend %transition-ease-in-out-all;

        &:hover,
        &:focus,
        &:active {
          opacity: .8;
          @extend %transition-ease-in-out-all;
        }
      }
    }
  }
}
