.comment {

  &-detail {
    margin: 15px 0;
    padding: 10px;
    background-color: #fcf8e3;
    border-radius: 10px;
  }

  &-user {
    font-weight: 700;
    font-size: 18px;
    color: #41b7d8;
  }

  &-text {
    font-size: 16px;
  }
}

.new-comment {
  margin-top: 20px;
  p {
    font-size: 22px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
  }

  form {
    @extend %overflow-hidden;
    margin-top: 15px;
  }
}
