.headline {
  transform: uppercase;
  border-bottom: 1px solid $gray-90;
  margin: 20px 0;

  span {
    color: $gray-20;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: -1px;
    border-bottom: 2px solid $gray-80;
  }
}
