.headline {
  transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0;

  span {
    color: #333;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: -1px;
    border-bottom: 2px solid #ccc;
  }
}
